@{
    ViewData["Title"] = "Головна";
}

<div class="home-container">
    <h1>Ласкаво просимо до BankWebApp!</h1>
    <p>Керуйте банками, додавайте та шукайте установи зручно та швидко.</p>

    <div class="home-buttons">
        <a class="btn btn-primary" href="/Bank">Переглянути банки</a>
        <a class="btn btn-success" href="/Bank/Create">Додати банк</a>
        <a class="btn btn-info" href="/Bank/Search">Пошук</a>
    </div>
</div>