@model Service
<h2 class="mb-3">Редагувати послугу</h2>
<form asp-action="Edit" class="border rounded p-4 bg-light">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-warning">Оновити</button>
</form>