@{
    ViewData["Title"] = "Головна";
}

<h1>Сервіс розрахунку вартості фотографій</h1>

<p>Цей додаток дозволяє зареєструватися і розрахувати загальну вартість фото замовлення на основі типу паперу, розміру та кількості.</p>

<p><a href="/Account/Register">Почати →</a></p>