@model User
<h2>Реєстрація</h2>
<form asp-action="Register">
    <input asp-for="Email" placeholder="Email" class="form-control" />
    <input asp-for="Password" placeholder="Пароль" type="password" class="form-control" />
    <button type="submit" class="btn btn-primary">Зареєструватися</button>
</form>