@{
    ViewData["Title"] = "Головна";
}

<h1>Емуляція бази даних — Книжки</h1>
<p>Ви можете додавати, видаляти, шукати книжки, які зберігаються у пам’яті.</p>

<a href="/Book" class="btn">Перейти до списку книг →</a>