@{
    ViewData["Title"] = "Головна сторінка";
}
<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до Довідника Товарів</h1>
    <p class="lead">Цей вебзастосунок дозволяє керувати фірмами та їхніми товарами.</p>
    <a asp-controller="Firm" asp-action="Index" class="btn btn-primary btn-lg m-2">Перейти до фірм</a>
    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary btn-lg m-2">Перейти до товарів</a>
</div>
