@model BankWebApp.Models.Bank
<h2>Додати банк</h2>
<form method="post">
    <input asp-for="Kod" placeholder="Код" /><br />
    <input asp-for="Naim" placeholder="Назва" /><br />
    <input asp-for="Adres" placeholder="Адреса" /><br />
    <input asp-for="Tel" placeholder="Телефон" /><br />
    <input asp-for="MFO" placeholder="МФО" /><br />
    <button type="submit">Зберегти</button>
</form>